.box
  .switch-container
    .joy-con-left
      .ellipse-button
      .analog-left
      .d-pad-container-left
        .d-pad-top
        .d-pad-left 
        .d-pad-right
        .d-pad-bottom
      .square-button
    .joy-con-right
      .button-right
      .analog-right
      .d-pad-container-right
        .d-pad-top
        .d-pad-left 
        .d-pad-right
        .d-pad-bottom
      .d-pad-2-container
       .d-pad-2-vertical
       .d-pad-2-horizontal
    .screen-outer
      .screen-inner
        .logo-left
          .logo-ball-left
        .logo-right
          .logo-ball-right
    